@media  screen and (min-width : 1003px) and (max-width : 1290px) {
    
    .last-section{
        width : 60% ;
    }

    .middle-section{
        margin-left: -400px;
    }
    
}

@media screen and (min-width : 300px) and (max-width : 1003px){
  
    .hidden{
        display: none;
    }

    .last-section{
        width : 100% ;
        justify-content: end;
    }

    .middle-section{
        width: 100%;
        justify-content: start;
        margin-left: 10px;
    }


}
